body {
    font-family: Verdana, sans-serif;
    font-size: 1.1em;
    color: dimgray;
    background-color: silver;
}
h1
{
    font-variant: small-caps;
    background-color:red;
}
a:hover {
    border: solid aqua 1px;
}
.stippeltjesrand {
    border: dashed black 1px;
}