body {
    width: 95%;
    margin:0 auto;
    font-family: Helvetica, sans-serif;
}
header {
    background-image: url(../images/bgsky3.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: auto;
    font-weight: bold;
    height: 200px;
    color: darkblue;
}
h1,h2{
    font-weight: bold;
    font-size: 200%;
}
h1 {
    font-style: italic;
    font-size: 300%;
}
header img {
    position: absolute;
   margin-right: 250px;
    top: 5%;
    margin-bottom: 200px;
}
article.news {
    float: right;
    width: 25%;
    background-color: #DDDDDD ;
    border: 1px solid #999999 ;
    color: #666666;
}
article.news h3 {
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 120%;
}
article.news p {
    margin-left: 10px;
    margin-right: 10px;
}
main {
    width: 75%;
    margin-right: 10px;
    box-sizing: border-box;
}
.introduction {
    background-color: white;
    text-align: justify;
    overflow: hidden

}
.introduction p {
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.introduction img {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
p span{
    color: darkblue;
    font-weight: bold;
    font-style: italic;
}
.foto{
    height: 180px;
    width: 180px;
    display: inline-block;
    border: 10px solid white;
    margin: 10px;
}
.gallery
{
    background-color: #999999 ;
    border: 1px dotted white;
    margin-right: 20px;
}
.bottom
{
    background-color: #666666 ;
    color: white;
    line-height: 2em;
    width: 100%;
    display: inline-block;
}
.bottom > div
{
    width: 200px;
    color: white;
    display: inline-block;
    margin-left: 120px;
}
.bottom a
{
    color: white;
}
.bottom a:hover {
    color: red;
}
footer {
    text-align: center;
    background-color: white;
    color: black;
}
.logo {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}