.container{
display: grid;
    grid-template-columns:repeat(4, auto);
    grid-template-rows:repeat(4, auto);
    grid-row-gap: 5px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: darkred;
 }
.block.block2{
grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: darkblue;
}
.block.block3{
grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: mediumslateblue;
}
.block.block4{
grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: cadetblue;}
@media (min-width: 772px)
{
.block.block1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}
    .block.block2{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}
@media (min-width: 992px)
{
    .container {
        grid-template-columns:repeat(3, auto);
        grid-template-rows:repeat(3, auto);
        grid-column-gap: 5px;
    }
    .block.block3{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .block.block4{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
    }
}
